<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216051230916-6nerc1undgkq3a95n0vfv4b10t87083h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216051230916-6nerc1undgkq3a95n0vfv4b10t87083h</string>
	<key>API_KEY</key>
	<string>AIzaSyChv6TWSMGP-lT4bhEGD8y2FOgzIbu_rQA</string>
	<key>GCM_SENDER_ID</key>
	<string>216051230916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>novexex.PizzaDelivery</string>
	<key>PROJECT_ID</key>
	<string>pizzadelivery-23fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadelivery-23fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216051230916:ios:3d421f562e74b216e78191</string>
</dict>
</plist>